# Домащнее задание Pandas Basics
## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [10]:
import pandas as pd
data=pd.read_csv('ml-latest-small/ratings.csv')
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [32]:
movies = pd.read_csv('ml-latest-small/movies.csv')
data[data.rating==5.0].groupby('movieId').count()[['userId']].sort_values(by='userId', ascending=False).merge(movies,on='movieId', how='left').head(1)

   movieId  userId                             title       genres
0      318     153  Shawshank Redemption, The (1994)  Crime|Drama

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [51]:
data=pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [88]:
data=data [ data.category.isin([4,12,21]) & (data.year<=2010) & (data.year>=2005)&(data.quantity>0)&\
     (data.country.isin(['Lithuania','Estonia','Latvia'])) ]
data.quantity.sum()

240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [125]:
#история наcеления земли
df=pd.read_html('https://countrymeters.info/ru/World',attrs= {'class':"years"},encoding='utf-8')[1]

In [124]:
df

       0              1       2
0   1951  2 540 807 495   N/A %
1   1952  2 586 957 085  1.82 %
2   1953  2 632 787 502  1.77 %
3   1954  2 678 896 551  1.75 %
4   1955  2 725 766 615  1.75 %
..   ...            ...     ...
65  2016  7 397 776 362  1.19 %
66  2017  7 486 520 598  1.20 %
67  2018  7 576 951 385  1.21 %
68  2019  7 669 109 078  1.22 %
69  2020  7 763 035 303  1.22 %

[70 rows x 3 columns]